<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restart Game</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <h1>Game Over</h1>
  <h2>You Lose!</h2>
  <h3>Hit restart for another game!</h3>
  <body>
    <form action="/restartApp" method="post" id="restart">
      <input type="submit" name="restartBtn" value="Restart Game">
    </form>
  </body>
</html>
